# Python
Backend/.venv/
Backend/venv/
Backend/chroma_db/
venv/
.venv/
env/
__pycache__/
**/__pycache__/
*.pyc
*.pyo

# Flutter
**/.dart_tool/
**/build/
.packages
pubspec.lock

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.iml

# Secrets
*.env
.env
Backend/.env
frontend/.env

venv/
.venv/
env/
Backend/venvsrrsrsr/
__pycache__/
*.pyc

venv/