# Python
Backend/.venv/
Backend/venv/
.venv/
venv/
env/
__pycache__/
**/__pycache__/
*.pyc
*.pyo

# Flutter
**/.dart_tool/
**/build/
.packages
pubspec.lock

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.iml

# Secrets
*.env
.env
Backend/.env
frontend/.env

venv/
env/
.env
Backend/venvsrrsrsr/
__pycache__/
*.pyc